block variables

doctype html

html

    head

        title= title

        link(rel='stylesheet', href='/stylesheets/materialize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

    body

        block layout

        script(src="/jquery/jquery.js")
        script(src='/javascripts/materialize.min.js')
        script(src='/javascripts/jquery.mCustomScrollbar.min.js')
        script(src='/javascripts/style.js')
